name: Dev
on:
  workflow_dispatch:
  push:
    branches:
      - "*"
env:
  BUILD_TYPE: core
  DEFAULT_PYTHON: 3.8

jobs:
  
  any_name:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2


      - name: List directory contents
        run: ls -la